.margin-right-20 {
  margin-right: 20px;
}

* {
  color: white;
}

.top-container {
  margin-top: 2rem;
  width: 80%;
}

.row-heading {
  padding: 0 0 1.5rem;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.button-sm {
  min-width: 100px;
  border-radius: 4px;
}

.button-sm:last-child {
  margin-right: 0 !important;
}

.select-toggle {
  position: relative;
  display: inline-block;
  background: transparent;
  padding: 0;
  width: 100%;
  color:#fff;
}

.select-toggle::after {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  content: "";
  pointer-events: none;
}

.select-toggle select {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  color: #fff;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
