<div style="margin-top: 3rem; width: 80%;" class="container">
    <h3 class="text-center">Tokenization</h3>
    <div class="row" >
        <div class="col-md-4">
           
                    <select class="form-select mt-3 bg-dark border-0" aria-label="Default select example">
                        <option selected>Select Currency</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    <input type="number" class="form-control mt-3 bg-dark border-0" id="exampleFormControlInput1" placeholder="Enter amount">
                    <button type="button" class="btn btn-primary mt-3">Deposit</button>
            
            
        </div>
        <div class="col-md-4 offset-md-1">
            <select class="form-select mt-3 bg-dark border-0" aria-label="Default select example">
                <option selected>Select Currency</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            <input type="email" class="form-control mt-3 bg-dark border-0" id="exampleFormControlInput1" placeholder="Enter amount">
            <button type="button" class="btn btn-primary mt-3">Withdraw</button>
        </div>
        <div class="col-md-2 offset-md-1">
            <div>
                Wallet Balance
            </div>
            <div>
                <span>GBP: </span>
                <span>XXX</span>
            </div>
            <div>
                <span>INR: </span>
                <span>XXX</span>
            </div>
            <div>
                <span>USD: </span>
                <span>XXX</span>
            </div>
        </div>
    </div>
</div>