<div style="margin-top: 3rem; width: 80%;" class="container">
    <h3 class="text-center">Tokenization</h3>
    <div class="row" [formGroup]="tokenForm">
        <div class="col-md-4">
           
                    <select class="form-select mt-3 bg-dark border-0" aria-label="Default select example" formControlName="depositCurr">
                        <option selected>Select Currency</option>
                        <option *ngFor="let curr of currenciesList" [value]="curr.currencyCode">{{ curr.currencyName }}</option>
                      </select>
                    <input type="number" class="form-control mt-3 bg-dark border-0" id="exampleFormControlInput1" placeholder="Enter amount" formControlName="depositAmount">
                    <button type="button" class="btn btn-primary mt-3" (click)="depositWithdraw('deposit')">Deposit</button>
        </div>
        <div class="col-md-4 offset-md-1">
            <select class="form-select mt-3 bg-dark border-0" aria-label="Default select example" formControlName="withdrawCurr">
                <option selected>Select Currency</option>
                <option *ngFor="let curr of currenciesList" [value]="curr.currencyCode">{{ curr.currencyName }}</option>
              </select>
            <input type="email" class="form-control mt-3 bg-dark border-0" id="exampleFormControlInput1" placeholder="Enter amount" formControlName="withdrawAmount">
            <button type="button" class="btn btn-primary mt-3" (click)="depositWithdraw('withdraw')">Withdraw</button>
        </div>
        <div class="col-md-2 offset-md-1">
            <app-side-menu></app-side-menu>
        </div>
    
    </div>
</div>