<div class="container top-container">
  <div class="row row-heading">
    <div class="col-md-8">
      <h3>Trade Blotter</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-16">
      <table class="table border border-white">
        <tr class="border border-white">
          <th>Select</th>
          <!--- <th>Trade Id</th> -->
          <th>Counter Party</th>
          <th>Trading Party</th>
          <th>Buy/Sell</th>
          <th>Traded Currency</th>
          <th>Counter Currency</th>
          <th>Amount</th>
          <th>Rate</th>
          <th>Contra Amount</th>
          <th>Trade Date</th>
          <th>Value Date</th>
          <th>Status</th>
          <th>Failure Reason</th>
        </tr>

        <tr class="border border-white" *ngFor="let trade of smartTradesList">
          <td>
            <input class="mx-3" [checked]="trade.checked" [disabled]="trade.tradingParty !== loggedInUser" (click)="toggleCheckbox(trade.id)" type="checkbox" [id]="trade.id" [name]="trade.tradingParty" />
          </td>
          <!-- <td>{{ trade.id }}</td> -->
          <td>{{ trade.counterParty }}</td>
          <td>{{ trade.tradingParty }}</td>
          <td>{{ trade.direction }}</td>
          <td>{{ trade.currencyBuy }}</td>
          <td>{{ trade.currencySell }}</td>
          <td>{{ trade.amount }}</td>
          <td>{{ trade.rate }}</td>
          <td>{{ trade.contraAmount }}</td>
          <td>{{ trade.tradeDate }}</td>
          <td>{{ trade.valueDate }}</td>
          <td>{{ trade.status }}</td>
          <td>{{ trade.failureReason }}</td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="btn-container">
      <!-- <button type="button" class="btn button-sm btn-success m-3">
        Accept
      </button>
      <button type="button" class="btn button-sm btn-danger m-3">Reject</button> -->
      <button (click)="settleTrade()" type="button" class="btn button-sm btn-primary m-3">
        Settle
      </button>
    </div>
  </div>
</div>
