<div style="margin-top: 3rem;" class="container">
    <h3 class="text-center">Trade Blotter</h3>
    <div class="row" >
        <div class="col-md-10">
            <table class="table border border-white">
                <tr>
                    <th>Select</th>
                    <th>Trade Id</th>
                    <th>Trade Date</th>
                    <th>Counter Party</th>
                    <th>Buy/Sell</th>
                    <th>Currency Buy</th>
                    <th>Currency Sell</th>
                    <th>Amount</th>
                    <th>Rate</th>
                    <th>Contra Amount</th>
                    <th>Value Date</th>
                    <th>Status</th>
                    <th>Failure Reason</th>
                </tr>
                <tr>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td>
                    <td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td><td>---</td>
                </tr>
            </table>
            
        </div>
        
        <div class="col-md-1 offset-md-1">
            <div>
                Wallet Balance
            </div>
            <div>
                <span>GBP: </span>
                <span>XXX</span>
            </div>
            <div>
                <span>INR: </span>
                <span>XXX</span>
            </div>
            <div>
                <span>USD: </span>
                <span>XXX</span>
            </div>
        </div>
    </div>
</div>