<div class="container top-container">
  <div class="row">
    <div class="col-md-3">
      <img src="{{ logo }}" alt="logo" />
    </div>
  </div>
  <div class="row user-info">
    <div class="col-md-6">
      <p class="login-user" *ngIf="loggedInUserName">Welcome {{loggedInUserName}}</p>
    </div>
    <div class="col-md-2 offset-md-4">
      <a class="text-white text-right log ps-0"
        (click)="logout()"
      >Logout</a>
    </div>
  </div>
  <div class="row menu-list">
    <div class="col-md-10 p-0">
      <div class="inline-block">
        <a
          class="align-middle"
          routerLinkActive="active-link"
          routerLink="/customer/smart-trade"
          >Smart Trade</a
        >
        <a
          class="align-middle"
          routerLinkActive="active-link"
          routerLink="/customer/trade-blotter"
          >Trade Blotter</a
        >
      </div>
    </div>
    <div class="col-md-2">
      <app-side-menu></app-side-menu>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
