<app-header></app-header>
<ul class="nav justify-content-center">
    <li class="nav-item" routerLinkActive="active-link">
      <a class="nav-link active" aria-current="page" routerLink="/customer/tokenization">Tokenization</a>
    </li>
    <li class="nav-item" routerLinkActive="active-link">
      <a class="nav-link" routerLink="/customer/smart-trade">Smart Trade</a>
    </li>
    <li class="nav-item" routerLinkActive="active-link">
      <a class="nav-link" routerLink="/customer/trade-blotter">Trade Blotter</a>
    </li>
  </ul>
<router-outlet></router-outlet>
